{% extends "base.html" %}
{% block content %}
    <div class="flex justify-center">
        <div class="flex-col">
            <div class="card bg-primary-100 w-full shadow-sm border border-base-content">
                <figure>
                    <img id="chart-here" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Kitchen Temperature [°F]</h2>
                    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
                        <table class="table">
                            <!-- head -->
                            <thead>
                                <tr>
                                    <th>Mean</th>
                                    <th>Min</th>
                                    <th>Max</th>
                                    <th>Stdev</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {#
                                    <td>{{ mean }}</td>
                                    <td>{{ min }}</td>
                                    <td>{{ max }}</td>
                                    <td>{{ stdev }}</td>
                                    #}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <script>window.chartData = {{ chart_data | safe }};</script>
    <script src="static/js/timeseries.js"
            data-xMin="0"
            data-xMax="100"
            data-yMin="0"
            data-yMax="100"
            data-target_replace_tag="#chart-here"
            type="text/javascript"></script>
    <script>
        var socket = null;
        function connect() {
            disconnect();
            const { location } = window;
            const wsUri = `ws://${location.host}/ws`;
            socket = new WebSocket(wsUri);
            socket.onmessage = (ev) => {
                console.log(ev)
            };
        }
        function disconnect() {
            if (socket) {
                socket.close();
                socket = null;
            }
        }

        connect();
    </script>
{% endblock js %}
